In [94]:
import numpy as np
import os
import matplotlib as plt
import pandas as pd
filename = "yeast_csv.csv"
df = pd.read_csv(filename,header=0)

In [95]:
df.head()

    mcg   gvh   alm   mit  erl  pox   vac   nuc class_protein_localization
0  0.58  0.61  0.47  0.13  0.5  0.0  0.48  0.22                        MIT
1  0.43  0.67  0.48  0.27  0.5  0.0  0.53  0.22                        MIT
2  0.64  0.62  0.49  0.15  0.5  0.0  0.53  0.22                        MIT
3  0.58  0.44  0.57  0.13  0.5  0.0  0.54  0.22                        NUC
4  0.42  0.44  0.48  0.54  0.5  0.0  0.48  0.22                        MIT

In [96]:
X= df["class_protein_localization"]
values = X.unique()
values

array(['MIT', 'NUC', 'CYT', 'ME1', 'EXC', 'ME2', 'ME3', 'VAC', 'POX',
       'ERL'], dtype=object)

In [97]:
size = len(values)
values = list(values)
values

['MIT', 'NUC', 'CYT', 'ME1', 'EXC', 'ME2', 'ME3', 'VAC', 'POX', 'ERL']

In [98]:
df["class_protein_localization"].replace(values,
                        range(1,size+1), inplace=True)
df.head()

    mcg   gvh   alm   mit  erl  pox   vac   nuc  class_protein_localization
0  0.58  0.61  0.47  0.13  0.5  0.0  0.48  0.22                           1
1  0.43  0.67  0.48  0.27  0.5  0.0  0.53  0.22                           1
2  0.64  0.62  0.49  0.15  0.5  0.0  0.53  0.22                           1
3  0.58  0.44  0.57  0.13  0.5  0.0  0.54  0.22                           2
4  0.42  0.44  0.48  0.54  0.5  0.0  0.48  0.22                           1

In [99]:
X = df["class_protein_localization"]
v2 = X.unique()
sz = len(v2)
sz

10

In [100]:
if size == sz:
    path = "C:\Users\Shuvo Saha Roy\Downloads\data\multiclass dataset\processed dataset"
    full_path = os.path.join(path,filename)
    df.to_csv(full_path,header=False, index=False)
    print("Done")
else:
    print("error")

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (<ipython-input-100-2b32cda7b15f>, line 2)

In [71]:
path = os. getcwd()
path

'C:\\Users\\Shuvo Saha Roy\\Downloads\\data\\multiclass dataset'

In [74]:
(os.path.join(path,filename))

'C:\\Users\\Shuvo Saha Roy\\Downloads\\data\\multiclass dataset\\segment_csv multiclass.csv'